.left {
    width: 60%;
}

.right {
    width: 40%;
}
@media (min-width: 320px) and (max-width:855px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .left,
    .right {
        width: 100%;
    }
    .right {
        float: left;
    }
}