.dashboard-list {
    list-style: none;
    text-align: center;
}

.dashboard-list li {
    display: inline;
}

.dashboard-list li a {
    margin-top: 10px;
}

.dashboard-card {
    display: inline-block;
    width: 150px;
    padding: 5px;
    text-align: center;
    height: 100px;
    margin: 25px;
}

.color-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.color-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.color-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.color-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}