<app-layout>
    <div class="content">
        <ul class="dashboard-list">
            <li>
                <mat-card class="dashboard-card color-primary">
                    <a mat-button routerLink="/user">
                        <div>
                            <mat-icon>people</mat-icon>
                        </div>
                        Users
                    </a>
                </mat-card>
            </li>
            <li>
                <mat-card class="dashboard-card color-danger">
                    <a mat-button routerLink="/match">
                        <div>
                            <mat-icon>list</mat-icon>
                        </div>
                        Match
                    </a>
                </mat-card>
            </li>
            <li>
                <mat-card class="dashboard-card color-warning">
                    <a mat-button routerLink="/team">
                        <div>
                            <mat-icon>bookmark</mat-icon>
                        </div>
                        Team
                    </a>
                </mat-card>
            </li>
            <li>
                <mat-card class="dashboard-card color-success">
                    <a mat-button routerLink="/player">
                        <div>
                            <mat-icon>person</mat-icon>
                        </div>
                        Players
                    </a>
                </mat-card>
            </li>
            <li>
                <mat-card class="dashboard-card color-primary">
                    <a mat-button routerLink="/country">
                        <div>
                            <mat-icon>tag</mat-icon>
                        </div>
                        Country
                    </a>
                </mat-card>
            </li>
        </ul>
        <!-- <mat-nav-list class="dashboard-list">
            <a mat-list-item routerLink='/dashboard'>
                <mat-icon color="accent">home</mat-icon>
                <span class="side-item">Dashboard</span>
            </a>
            <a mat-list-item routerLink='/match'>
                <mat-icon color="accent">list</mat-icon>
                <span class="side-item">Match</span>
            </a>
            <a mat-list-item routerLink='/team'>
                <mat-icon color="accent">bookmark</mat-icon>
                <span class="side-item">Team</span>
            </a>
            <a mat-list-item routerLink='/player'>
                <mat-icon color="accent">person</mat-icon>
                <span class="side-item">Player</span>
            </a>
            <a mat-list-item routerLink='/country'>
                <mat-icon color="accent">tag</mat-icon>
                <span class="side-item">Country</span>
            </a>
            <a mat-list-item routerLink='/user'>
                <mat-icon color="accent">people</mat-icon>
                <span class="side-item">User</span>
            </a>
        </mat-nav-list> -->
    </div>
</app-layout>