<div class="form-card" *ngIf="team">
    <form [formGroup]="teamForm" (ngSubmit)="teamForm.valid && saveTeam()">
        <mat-card>
            <mat-card-header>
                <mat-card-title *ngIf="!team.team_id">Add New Team</mat-card-title>
                <mat-card-title *ngIf="team.team_id">Edit Team</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="form-container">
                    <input type="hidden" formControlName="team_id">
                    <!-- <input type="hidden" formControlName="token"> -->
                    <mat-form-field>
                        <input matInput placeholder="Team Name" formControlName="name" required>
                        <mat-error *ngIf="teamForm.controls.name.invalid">{{getNameError()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Team Code" formControlName="code" required>
                        <mat-error *ngIf="teamForm.controls.code.invalid">{{getCodeError()}}</mat-error>
                    </mat-form-field>

                    <div class="upload-btn-wrapper">
                        <button mat-mini-fab type="button" >
                            <label for="fileToUpload">
                                <mat-icon>unarchive</mat-icon>
                            </label>
                        </button>
                        <input type="file" (change)="onFileChanged($event)" />
                        <input type="hidden" formControlName="image">
                    </div>
                    <div class="uploaded-image">
                        <img *ngIf="url" [src]="url" />
                        <img *ngIf="team.image && !url" [src]="imageBasePath + team.image" />
                    </div>

                    <mat-checkbox formControlName="status" checked={{team.status}}>Status</mat-checkbox>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button class="pull-right" mat-raised-button color="accent" type="submit">Save</button>
                <button mat-raised-button color="" (click)="cancel()" type="button">Cancel</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>